body{
    margin: 0%;
    padding: 0%;
}

.box1 {
    width: 100%;
    height: auto;
    /* border: 1px solid #000; */
}

.box2 {
    margin: auto;
    width: 1200px;
    height: auto;
    padding: 0 20px 0 20px;
    border: 1px solid #afadae;
}

.box3 {
    width: 100%;
    height: 80px;
    /* border: 1px solid #000; */
    margin-bottom: 15px;
}

.box31 {
    width: 300px;
    height: 100%;
    float: left;
}
.box32 {
    width: 200px;
    height: 100%;
    float: right;
}
.box33 {
    width: 310px;
    height: 80px;
    margin: auto;
    margin-bottom: 10px;

}
.box34 {
    width: 100px;
    height: 20px;
    margin: auto;
}

.box4 {
    width: 100%;
    height: 360px;
    /* border: 1px solid #000; */
    /* padding: 20px; */
    margin: auto;
}
.box41 {
    width: 300px;
    height: auto;
    padding: 30px;
    /* border: 1px solid #000; */
    float: left;
}
.box411 {
    width: 100%;
    height: 25px;
    /* border: 1px solid #000; */
    margin-top: 10px;
}
.box42 {
    width: 805px;
    height: auto;
    /* border: 1px solid #000; */
    float: left;
    margin-top: 10px;
}
.box421 {
    width: 100%;
    height: 70px;
    /* border: 1px solid #000; */
    margin-top: 10px;
    float: left;
}
.left-box421 {
    width: 355px;
    height: 60px;
    float: left;
    /* border: 1px solid #000; */
}
.right-box422 {
    width: 415px;
    height: 30px;
    float: left;
    margin-top: 14px;
    margin-left: 30px;
    /* border: 1px solid #000; */
}
.right-box423 {
    width: 385px;
    height: 50px;
    float: left;
    margin-top: 14px;
    margin-left: 15px;
    /* border: 1px solid #000; */
}
.box5 {
    width: 100%;
    height: 50px;
    /* border: 1px solid #000; */
    /* padding: 20px; */
    margin: auto;
}
.box51{
    width: 225px;
    height: 50px;
    border: 2px solid #000;
    position: inherit;
    float: left;    
    margin-left: 15px;
}
.box52{
    width: 150px;
    height: 25px;
    margin-top: 14px;
    /* border: 1px solid #000; */
    float: right;    
}

.box6 {
    margin: auto;
    width: 1200px;
    height: auto;
    padding: 0 20px 0 20px;
    border: 1px solid #afadae;
}

.box7 {
    width: 100%;
    height: 25px;
    margin-top: 14px;
    /* border: 1px solid #000; */
}


.final {
    width: 1242px;
    height: 10px;
    margin: auto;
    margin-top: 10px;
    /* border: 1px solid #000; */
}

.gry {
    background-color: #afadae;
}

.pnk {
    background-color: #f9dbdb;
}
